/* Here goes your styling */
html {
    box-sizing: border-box;
}
body,
html {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
    width: 70%;
    height: 70%;
}

body {
    font-family: Verdana, Geneva, sans-serif;
}

#item {
  padding: 5px;
  border-radius: 2px;

}

.todo-title {
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}

.list {
    margin-left: 20%;
    margin-right: 20%;
}

.list li {
    -webkit-box-shadow: 0px 9px 4px -1px rgba(0,0,0,0.31);
    -moz-box-shadow: 0px 9px 4px -1px rgba(0,0,0,0.31);
    box-shadow: 0px 9px 4px -1px rgba(0,0,0,0.31);
}




 /* Hey buddy, feel free to edit the html file if you need to ;) got it */
